body{
    background-color: gray;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width: 100%;
}


.pad{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 240px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgb(58, 58, 248);
    box-shadow: 1px 3px 6px 1px black;
}

.display{
    width: 100%;
    font-size: 40px;
    height: 40px;
    border-radius: 15px;
    padding: 3px;

}